@font-face {
  font-family: 'Aileron';
  src: url(../fonts/Aileron-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Aileron';
  font-weight: light;
  src: url(../fonts/Aileron-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Aileron';
  font-weight: bold;
  src: url(../fonts/Aileron-Bold.otf) format('opentype');
}

/* 
  TODO Dani
  https://stackoverflow.com/questions/3245141/using-otf-fonts-on-web-browsers
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Aileron;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f5f3f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
