@font-face {
  font-family: 'Aileron';
  font-style: normal;
  font-weight: 100 1000;
  src: url(../fonts/Aileron-Regular.otf) format('truetype'),
  url(../fonts/Aileron-Light.otf) format('truetype'),
  url(../fonts/Aileron-Bold.otf) format('truetype');
}

body {
  margin: 0;
  font-family: Aileron, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
