@font-face {
  font-family: 'Aileron';
  src: 
  
  url(../fonts/Aileron-Regular.otf) format('truetype'),
  url(../fonts/Aileron-Light.otf) format('truetype'),
  url(../fonts/Aileron-Bold.otf) format('truetype');

}






html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Aileron;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f5f3f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
